*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.datepicker{
    max-width: 300px;
    margin: 3rem auto;
}

.input{
    border: 2px solid black;
    margin-bottom: 4px;
}

input{
    padding: 0.4rem 3.9rem;
    font-size: 1.3rem;
}

.calender{
    border: 2px solid black;
}

.month-year{
    display: flex;
    margin: 0.5rem 1rem;
    justify-content: space-between;
    font-size: 1.3rem;
}

.symbol{
    font-weight: 700;
}

.days{
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 1rem;
}

.dates{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}