* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.datepicker {
    max-width: 300px;
    margin: 3rem auto;
}

.input {
    border: 2px solid black;
    margin-bottom: 4px;
}

input {
    padding: 0.4rem 3.9rem;
    font-size: 1.3rem;
}

/* Calendar Box */
.calendar {
    border: 2px solid black;
    padding-bottom: 0.5rem;
}

/* Month + Year */
.month-year {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    font-size: 1.3rem;
}

.symbol {
    font-weight: 700;
    cursor: pointer;
}

/* Days Row */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.2rem 1rem;
    text-align: center;
    font-weight: 600;
}

/* Dates Grid */
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.5rem 1rem;
    text-align: center;
    gap: 0.5rem;
}

.dates div {
    padding: 0.4rem 0;
    border-radius: 4px;
}

/* OPTIONAL: Hover effect */
.dates div:hover {
    background: #eaeaea;
    cursor: pointer;
}
